.skills-container {
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    text-align: left;

    .separator-line {
        display: none;
    }

    svg {
        color: white;
        margin: 27px 0 15px 0;
    }
}

.skills-container h1::after {
    content: "Em:";
    margin-left: 10px;
}

.skills-container .skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

.skills-container .skills-grid .skill {
    align-items: center;
    text-align: left;

    & .skill-description {
    	font-style: italic;    
    	margin-bottom: 10px;	
    }
}

.chip {
    color: rgb(39, 40, 34) !important;
    background-color: white !important;
    font-size: 0.8rem !important;
    height: 25px !important;

    span {
        font-family: 'Courier Prime', monospace;
        color: rgb(39, 40, 34);
    }

    svg {
        height: 15px !important;
    }
}

.flex-chips {
    line-height: 2;
    margin: 0.5;

    .chip-title {
        color: white;
        margin-left: 0;
        font-weight: bolder;
        padding-right: 10px;
        border-radius: 50px;
        background-color: #4d27ab;
        padding: 5px 10px !important;
    }
}

.flex-chips .MuiChip-root {
    margin-right: 0.5em;
}

.flex-chips .MuiChip-outlined {
    background-color: #e0e0e0;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.flex-chips .MuiChip-outlined span {
    color: rgb(39, 40, 34);
}

@media screen {
    @media (max-width: 768px) {
        .skills-container {
            display: block;
            padding-left: 5%;
            padding-right: 5%;

            h1 {
                display: inline-block;
                margin-left: 0 !important; 
                text-align: center;
                vertical-align: middle;
            }

            .separator-line {
                width: 25px;
                height: 2px;
                margin: 0 5px;
                border-radius: 50px;
                display: inline-block;
                background-color: white;
                vertical-align: middle;
            }
        }        

        .skills-title {
        	display: flex;
        	align-items: center;
        	justify-content: center;
        }

        .skills-container h1::after {
            margin-left: 10px;
            content: "Em";
        }

        .skills-container .skills-grid {
            display: initial;
        }

        .skills-container .skills-grid .skill {
            padding-bottom: 5%;
        }

        .flex-chips .chip-title {
        	margin-left: 30%;
        }
    }

    @media (max-width: 567px) {
        .skills {
            font-size: 12px;
        }
    }
}
