$dark-bg: #0d1116;
$light-bg: #f8f9fa;
$white-text: white;
$dark-text: #0d1116;

.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.navbar-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
    transition: background-color 0.3s ease;
    padding: 0;
    height: 64px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: $dark-bg; 
    padding: 0 5%;

    .desktop-menu {
        display: block; 
        a {
            color: $white-text;
            margin-left: 20px;
            text-decoration: none;
            cursor: pointer;
            font-size: 1.1rem;
            &:hover {
                color: #5000ca; 
            }
        }
    }

    .menu-icon-container {
        display: none; 
    }

    .mode-toggle svg {
        cursor: pointer;
        color: $white-text;
    }
}


.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    border-radius: 20px 0 0 0px;
    background-color: $dark-bg; 
    transform: translateX(100%); 
    transition: transform 0.3s ease-in-out;
    z-index: 1001; 
    padding: 20px;
}

.sidebar.open {
    transform: translateX(0); 
}

.sidebar-header {
    text-align: left;
    margin-bottom: 20px;
    .close-icon {
        font-size: 1.5rem;
        cursor: pointer;
        color: $white-text;
    }
}

.sidebar-list {
    list-style: none;
    padding: 0;

    li {
        color: $white-text;
        padding: 15px 0;
        cursor: pointer;
        font-size: 1.2rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        &:hover {
            color: #5000ca;
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
}

.light-mode {
    .navigation-bar {
        background-color: $light-bg; 
        .mode-toggle svg {
            color: $dark-text;
        }
        .desktop-menu a {
            color: $dark-text;
        }
    }

    .sidebar {
        background-color: $light-bg;
        .sidebar-header .close-icon {
            color: $dark-text;
        }
        .sidebar-list li {
            color: $dark-text;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
    }
}

@media (max-width: 768px) {
    .navigation-bar {
        .desktop-menu {
            display: none; 
        }

        .menu-icon-container {
            display: block; 
            .menu-icon {
                font-size: 1.5rem;
                color: $white-text; 
            }
        }
    }

    .light-mode {
        .navigation-bar .menu-icon-container .menu-icon {
            color: $dark-text; 
        }
    }
}
